<!-- app/templates/index.hbs -->
<div class="jumbotron text-center">
   <h1>Coming Soon</h1>
   <br/><br/>
   <p>Don't miss our launch date, request an invitation now.</p>
</div>
<form {{action "saveMessage" on="submit"}}>
	{{#if errorMessage}}
		<p>
			<strong>Error:</strong>
			<code>{{errorMessage}}</code>
		</p>
	{{/if}}
	<div>
		<label for="email">Email</label>
		{{input value=model.email placeholder="Enter email"}}
	</div>
	<button type="submit" {{action 'saveInvitation' model}}
		disabled={{model.isNotValid}}>Request invitation</button>
</form>
